#footer-wrapper{
    height: 131px;
    background: #fff;
    border-top:1px solid #efefef; 
}
#footer-wrapper .footer{
    height: 80px;
    background: #fff;
    border-top:1px solid #efefef;
    display: flex;
    padding: 24px 174.5px 0 174.5px;
    box-sizing: border-box;
}
.footer ul{
    display: flex;
}
.footer ul li{
    line-height: 50px;
}
.footer ul li a{
    color: #000;
}
.footer ul li::after{
    content:'|';
    padding: 0 8px;
}
.footer ul li:last-child::after{
    content: '';
}
.footer .footer_c{
    margin-left: 36px;
    line-height: 50px;
}
.footer .footer_c span{
    display: inline-block;
    margin-right: 20px;
    font-size: 14px;
}
.footer .footer_c span:first-child{
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
}
.footer .footer_c a{
    display: inline-block;
    *margin-top: 5px;
    _margin-top: 16px;
    height: 20px;
    line-height: 18px;
    width: 64px;
    color: white;
    background-color: #32a5e7;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    text-align: center;
}
.footer .footer_r{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -140px;
}
.footer .footer_r a{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('../images/sign_up/base.png');
}
.footer .footer_r a:first-child{
    background-position: -218px -91px; 
}
.footer .footer_r a:first-child:hover{
    background-position-y: -137px;
}
.footer .footer_r a:nth-child(2){
    margin: 0 10px;
    background-position: -302px -91px;
}
.footer .footer_r a:nth-child(2):hover{
    background-position-y: -137px;
}
.footer .footer_r a:last-child{
    background-position: -344px -91px;
}
.footer .footer_r a:last-child:hover{
    background-position-y: -137px;
}
.footer_bottom{
    background: #fff;
    width: 1011px;
    display: flex;
    margin: 0 0 0 174.5px;
    box-sizing: border-box;
    padding-left: 53px;
}
.footer_bottom a{
    font-size: 12px;
    color: #7f7f7f;
}