.content{
    width: 1240px;
    margin: 0 auto;
}
.logo{
    float: left;
    width: 150px;
}
.header-bread{
    float: left;
    margin-left: 30px;
}
.header-bread li{
    float: left;
    font-size: 14px;
    color: #999;
    line-height: 80px;
}
.header-bread .active{
    color: #000;
}
.header-bread-block:after {
    content: '>';
    margin: 0 10px;
    color: #999;
}
.header-right{
    float: right;
    width: 247px;
    display: flex;
}
.header-right li{

}