.content{
	margin: 0 auto;
	width: 1240px;
}
#header_wrapper{
    height:68px ;
    background: #fff;
}
.header{
    height:68px ;
    position: relative;
}
.header h2 a img{
   position: absolute;
   top:22px;
   left: 15px;
}
#banner_wrapper{
    height: 750px;
    background: url(../images/sign_up/zc_banner.png);
    background-size: cover;
}
.banner{
    height: 750px;
    background: url(../images/sign_up/zc_banner.png);
    background-size: auto 750px;
    position: relative;
}
.banner .sign_up{
    width: 368px;
    height: 470px;
    background: #fff;
    position: absolute;
    top:105px;
    right: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner .sign_up .erm{
    position: absolute;
    right: 8px;
    top:8px;
}
.banner .sign_up h3{
    margin-top:70px;
    font-size: 21px;
    font-weight: bold;
    color: #515151;
}
.banner .sign_up .error1{
    position: absolute;
    top: 120px;
    left: 30px;
    display: none;
}
.banner .sign_up .error1 a{
    color: #32a5e7;
} 
.banner .sign_up .error2{
    position: absolute;
    top: 120px;
    left: 30px;
    display: none;
}
.banner .sign_up .error3{
    position: absolute;
    top: 120px;
    left: 30px;
    display: none;
}
.banner .sign_up .title{
    display: block;
    width: 260px;
    line-height: 35px;
    border: solid 1px #ffc2b3;
    background: #ffd1ca;
    color: #7d7675;
    padding-left: 40px;
    position: relative;
}
.banner .sign_up .title .left{
    position: absolute;
    top: 9px;
    left: 13px;
}
.banner .sign_up .title .right{
    position: absolute;
    top: 9px;
    right: 13px;
}
.banner .sign_up .form{
    height: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}
.banner .sign_up .form .txt{
    width: 220px;
    height: 45px;
    border-radius: 2px;
    border: solid 1px lightgray;
    margin-bottom: 20px;
    padding-left: 80px;
}
.banner .sign_up .form .yzmbox{
    display: none;
}
.banner .sign_up .form .yzm{
    width: 290px;
    height: 45px;
    border-radius: 2px;
    border: solid 1px lightgray;
    margin-bottom: 20px;
    padding-left: 10px;
    /* display: none; */
}
.banner .sign_up .form .yzm_shu{
    display: block;
    position: absolute;
    top:250px;
    left: 188px;
    height: 25px;
    width: 1px;
    border-left: solid 1px #dadada;
}
.banner .sign_up .form .yzm_word{
    width: 130px;
    line-height: 38px;
    text-align: center;
    color: #32a5e7;
    position: absolute;
    top:243px;
    left: 196px;
    cursor: pointer;
}
.banner .sign_up .form .yzm_num{
    width: 130px;
    line-height: 38px;
    text-align: center;
    color: #888888;
    position: absolute;
    top:243px;
    left: 196px;
    display: none;
}
.banner .sign_up .form #number_down{
    display: block;
    width: 55px;
    line-height: 22px;
    position: absolute;
    top:185px;
    left: 33px;
    text-align: left;
    padding-left: 15px;
    font-size: 14px;
    color: rgb(158, 156, 156);
    border-right: solid 1px lightgray;
    cursor: pointer;
}
.box{
    border-radius: 2px;
    border: solid 1px lightgray;
    position: absolute;
    top:33px;
    left:0px;
    overflow: hidden;
}
.banner .sign_up .form #number_down .number_list{
    width: 300px;
    height:200px;
    text-align: left;
    background: #fff;
    position: absolute;
    top:0px;
    left:0px;
    color: #000;
    overflow: auto; 
    display: block;
    z-index:9;
}
.banner .sign_up .form #number_down .number_list li:nth-child(1){
    line-height: 30px;
    background: rgb(248, 243, 243);
    padding: 0 30px 0 10px;
}
.banner .sign_up .form #number_down .number_list li a{
    display: block;
    display: flex;
    justify-content: space-between; 
    width: 260px;
    line-height: 30px;
    color: #000;
    padding: 0 13px 0 10px;
}
.banner .sign_up .form #number_down .number_list li a:hover{
    background: rgb(238, 236, 236);
}
.banner .sign_up .form #number_down .icon-xjt{
    margin-left: 5px;
    font-size: 14px;
}
.banner .sign_up .form .yz_in{
    width: 255px;
    line-height: 42px;
    padding-left: 45px;
    border-radius: 2px;
    border: solid 1px lightgray;
    background-image: linear-gradient(180deg, #ffffff 0%,#f3f3f3 100%);
    position: relative;
    cursor: pointer; 
    display: none;
}
.banner .sign_up .form .yz_in p{
    color: #3873ff;
}
.banner .sign_up .form .yz_in .yz_left .quan_blue{
    display: block;
    width: 18px;
    height: 18px;
    background: url(../images/sign_up/elements.png) no-repeat;
    background-position: -97px -128px;
    position: absolute;
    left: 12px;
    top:11px;
    z-index: 2;
}
.banner .sign_up .form .yz_in .yz_left .quan_wc{
    display: block;
    width:25px;
    height: 25px;
    background-color: #c6d5f8;
    border: solid 1px #3873ff;
    border-radius: 50%;
    position: absolute;
    left: 7px;
    top:7px;
   
}
.banner .sign_up .form .yz_in:hover{
    background-image: linear-gradient(0deg, #ffffff 0%,#f3f3f3 100%);
}
.banner .sign_up .form .yz_in .yz_right{
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/sign_up/sprite.1.5.3.png) no-repeat;
    background-position: 0 -105px;
    position: absolute;
    right: 12px;
    top:11px;
}
.banner .sign_up .form .yz2{
    padding-left: 45px;
    border-radius: 2px;
    border: solid 1px #26c267;
    background: #eefff5;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 9;
}
.banner .sign_up .form .yz2 a{
    color: #18a452;
}
.banner .sign_up .form .yz2 .yz_left2 .gou{
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/sign_up/sprite.1.5.3.png) no-repeat;
    background-position: 0px -161px;
    position: absolute;
    left: 12px;
    top:11px;
    z-index: 2;
}
.banner .sign_up .form .yz2 .yz_right2{
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/sign_up/sprite.1.5.3.png) no-repeat;
    background-position: 0 -212px;
    position: absolute;
    right: 12px;
    top:11px;
}
.banner .sign_up .form .ts{
    width: 300px;
}
.banner .sign_up .form .ts a{
    color: rgb(17, 145, 224);
    font-size: 11px;
}
.banner .sign_up .form .sub_in{
    width: 300px;
    height: 50px;
    margin-top: 20px;
    border-radius: 2px;
    border: solid 1px lightgray;
    background:  rgb(17, 145, 224);
    color: #fff;
    cursor: pointer;
}
.banner .sign_up .form .sub_in:hover{
    background:#2b8cc5;
}
.banner .sign_up .dl{
    color: rgb(17, 145, 224);
    font-size: 14px;
    position: absolute;
    left: 34px;
    bottom:16px;
}
.banner .sign_up .forget{
    color: rgb(17, 145, 224);
    font-size: 14px;
    position: absolute;
    right: 34px;
    bottom:16px;
}